<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelReservaApp"
        tools:targetApi="31">
        <activity
            android:name=".AdminHotel.EditarPagoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.ResumenReservaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.TaxistaCliente.MapaActividadCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.TaxistaCliente.RequestTaxi"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.DetallesChatActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.TestPushNotification"
            android:exported="false" />
        <activity
            android:name=".cliente.CreacionReserva"
            android:exported="false" />
        <activity
            android:name=".superadmin.HistorialReservasActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.BuscadorDestino"
            android:exported="false" />
        <activity
            android:name=".cliente.ValidacionTarjeta"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.UsuarioSubirFoto"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.UsuarioCrearContasena"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.SubirFotoPersonalTaxista"
            android:exported="false" />
        <activity
            android:name=".taxista.VerDatosVehiculoTaxistaActivity"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.CrearContrasenaTaxistaActivity"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.SubirFotoResgistroTaxistaActivity"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.NuevaContrasenaActivity"
            android:exported="false" /> <!-- Declarar RegistroTaxistaActivity -->
        <activity android:name=".loginAndRegister.RegistroTaxistaActivity" />
        <activity
            android:name=".loginAndRegister.VerificarCorreoActivity"
            android:exported="false" /> <!-- Intermediario pa prender la cámara owo -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name=".AdminHotel.RegistroHotelActivity"
            android:exported="false" />
        <activity
            android:name=".NotificacionDetalles"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.DetalleHabitacionActivity"
            android:exported="false" />
        <activity
            android:name=".SuperAdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.DetalleChat"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.HotelServicios"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.HotelHabitaciones"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.ReporteServicioActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.ReporteUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.NotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.DetalleSolicitudActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHotel.MainActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteChat"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteNotificaciones"
            android:exported="false" />
        <activity
            android:name=".cliente.ListaHabitaciones"
            android:exported="false" />
        <activity
            android:name=".cliente.DetallesHotel"
            android:exported="false" />
        <activity
            android:name=".cliente.PerfilCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.PagoConfirmado"
            android:exported="false" />
        <activity
            android:name=".cliente.PagoConTarjeta"
            android:exported="false" />
        <!--
 Sale error aquí :'v <activity
            android:name=".MainActivity2"
            android:exported="false" />
        -->
        <activity
            android:name=".superadmin.SolicitudesActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.RegistrarAdmHotelActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.NotificacionesSAActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ProcesarPago"
            android:exported="false" />
        <activity
            android:name=".cliente.HomeCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.ListaHotelesCliente"
            android:exported="false" />
        <activity android:name=".cliente.DetallesReserva">

            <!-- Puedes agregar un intent-filter si es necesario -->
        </activity>
        <activity android:name=".cliente.TaxistaCliente.ClienteServicioTaxi" />
        <activity android:name=".cliente.HistorialEventos">

            <!-- Puedes agregar un intent-filter si es necesario -->
        </activity> <!-- seccion taxistaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
        <activity android:name=".taxista.TaxistaMain" />
        <activity android:name=".taxista.DetallesViajeActivity" />
        <activity android:name=".taxista.MapaActividad" />
        <activity android:name=".taxista.ViajeEnCursoActivity" />
        <activity android:name=".taxista.QrLecturaActivity" /> <!-- seccion taxistaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
        <activity
            android:name=".taxista.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".loginAndRegister.PostulacionTaxistaActivity"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.RegistroActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".loginAndRegister.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".loginAndRegister.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".loginAndRegister.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".cliente.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>